<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.xpwi.mapping.Dir">    <select id="findAllDir" parameterType="string" resultType="map">    select * from dir_info where dir_user_id=#{user_id}</select>    <select id="dirAnalysis" parameterType="string" resultType="map">      select a.dir_name, b.dir_name as `name`,b.dir_id,b.parent_dir from dir_info a        INNER JOIN dir_info b on a.dir_id=b.parent_dir where a.dir_user_id=#{user_id}    </select>    <select id="findFilePathByDirId" parameterType="string" resultType="map">     select concat(dir_path,dir_name) as filepath from dir_info where dir_id=#{dir_id}    </select></mapper>