<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--动态sql--><mapper namespace="com.xpwi.mapping.downloadFile">    <update id="updateDownloadCount" parameterType="int">        update file_info set downloadCount=downloadCount+1 where file_id=#{file_id}    </update></mapper>