<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--动态sql--><mapper namespace="com.xpwi.mapping.ECharts">    <select id="dirAnalysis" parameterType="string" resultType="map">        select a.dir_name, b.dir_name as `name` from dir_info a        INNER JOIN dir_info b on a.dir_id=b.parent_dir where a.dir_user_id=#{user_id}    </select></mapper>