<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><!--动态sql--><mapper namespace="com.xpwi.mapping.upload">    <update id="uploadHead" parameterType="map">        update user_info set head=#{photoPath} where user_id=#{userId}    </update>    <select id="findFilePathById" resultType="map">        select concat(dir_path,dir_name) as filePath from dir_info WHERE dir_id = #{dir_id}    </select>    <insert id="insertUploadFileInfo" parameterType="map">        insert into file_info values(null,#{file_name},#{file_size},#{file_type},now(),0,#{file_dir_id},#{user_id},0)    </insert></mapper>