<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:stat="http://www.alibaba.com/schema/stat"
       xmlns:mvc="http://www.alibaba.com/schema/stat" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.alibaba.com/schema/stat http://www.alibaba.com/schema/stat.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--开启注解驱动-->
   <context:annotation-config/>
    <!--扫描包-->
    <context:component-scan base-package="com.xpwi.dao.impl,com.xpwi.service.impl"/>
    <!--加载jdbc配置文件-->
    <context:property-placeholder location="classpath*:jdbcConfig.properties"/>
    <!--设置阿里Druid连接池数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!--开启事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--整合mapper配置文件方式-->
    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
<!--        <property name="typeAliasesPackage" value="com.isoft.mappingg/>-->
        <property name="mapperLocations" value="classpath*:com/xpwi/mapping/*Mapper.xml"></property>
    </bean>

    <!--&lt;!&ndash; DAO接口所在包名，Spring会自动查找其下的类 &ndash;&gt;
    <bean class="org.mybatis.spring.mapping.MapperScannerConfigurer">
        <property name="basePackage" value="com.xpwi.dao.impl" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>-->
</beans>